.nav {
  width: 100%;
  padding: 20px;
  font-size: x-large;
}

.landing {
  text-align: center;
}

.question {
  /* text-align: center; */
  padding: 40px;
}

.menu {
  margin: 20px;
}

.login-signup {
  padding: 32px;
}

.onboardSumbit {
  text-align: center;
  align-items: center;
}
